<main class="animals">
    <div class="favorites">
    <h2">These are a few of my favorite animals</h2>
    <ul>
      <% for (let i = 0; i < animals.length; i++){ %>
      <li><%= animals[i] %></li>
      <% } %>
    </ul>
  </div>
</main>