<main class="archer">
  <h1>Hello my name is <%= name %>!</h1>
  <% let dogAge = age*7 %>
  <h2>You are <%= dogAge %> in dog years</h2>
  <% let status %> <% if (dogAge<100) { %> <% status = 'young' %> <% } else { %> <% status = 'old' %> <% } %>
  <h3>This means you are <%= status %>!</h3>
</main>
